header {
  background-image: var(--bgImage);
  transition: background-image 0.5s;
  height: 100vh;
}


h1 {
  color: var(--colorH1);
  font-size: 70px;
  margin-top: 400px;
}


.image {
  display: flex;
  justify-content: center;
  margin-top: 400px;
  /* background-image: var(--url);
  background-repeat: no-repeat; */

}

.texto {
  color: #eeb30e;
  font-size: 60px;
}

/* Estilos para el contenedor principal */
.container--header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* Centra verticalmente */
  margin-left: 10%;
  margin-right: 10%;
}



/* Estilos para la sección de texto */
.text-section {
  flex: 1;
  /* Ocupa todo el espacio disponible */
  padding: 20px;
  color: white;
}

/*-------------------------BOTONES-------------------------*/

.botonGrande {
  background-color: var(--colorBigBoton);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 10px;
  margin: 50px 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.botonGrandeContactMe {
  background-color: var(--colorBigBoton);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 10px;
  margin: 50px 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.botonGrande:hover {
  background-color: white;
  color: #eeb30e;
  /* border: 3px solid; */
  transform: scale(1.05);
  border-color: #eeb30e;
}

.botonCambioColor {
  background-color: #eeb30e;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px 25px 20px 350px;
  cursor: pointer;
}

.botonCambioidioma {
  background-color: #eeb30e;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1350px) {

  header {
    
    position: relative;
    background-size: cover;
    background-position: 30%;
    overflow: hidden;
  }

  .container--header {
    flex-direction: column;
    /* Apila las secciones una encima de la otra en pantallas pequeñas */
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  h1 {
    font-size: 60px;
    margin: 80px 10px 0px 140px; 
  }

  .text-section {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    padding: 0;
    color: white;
  }

  .texto {
    color: #eeb30e;
    font-size: 35px;
    margin-left: 170px;
  }

  .image {
    display: none;

  }

  /*-------------------------BOTONES-------------------------*/

  .botonGrande {
    background-color: var(--colorBigBoton);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 180px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .botonGrandeContactMe {
    background-color: var(--colorBigBoton);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

.botonGrande:hover {
  background-color: white;
  color: #eeb30e;
  /* border: 3px solid; */
  transform: scale(1.05);
  border-color: #eeb30e;
}


  
}


@media (max-width: 550px) {

  header {
    
    position: relative;
    background-size: cover;
    background-position: 30%;
    overflow: hidden;
  }

  .container--header {
    flex-direction: column;
    /* Apila las secciones una encima de la otra en pantallas pequeñas */
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    margin: 40px 10px 0px 50px;
  }

  .text-section {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    padding: 0;
    color: white;
  }

  .texto {
    color: #eeb30e;
    font-size: 20px;
    margin-left: 50px;
    
  }

  .texto--m{
    color: #eeb30e;
    font-size: 20px;
    
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 30px;

  }

  /*-------------------------BOTONES-------------------------*/

  .botonGrande {
    background-color: var(--colorBigBoton);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 80px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 300px;
  }

  .botonGrandeContactMe {
    background-color: var(--colorBigBoton);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 80px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 300px;
  }

  

.botonGrande:hover {
  background-color: white;
  color: #eeb30e;
  /* border: 3px solid; */
  transform: scale(1.05);
  border-color: #eeb30e;
}



 




}