/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------MENÚ DE NAVEGACIÓN-----------------------------*/
/*----------------------------------------------------------------------------------------*/


nav {
  background-color: var(--colorNav);
  opacity: 1;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
  font-size: 40px;
  color: white;
}

.simbolo {
  color: #eeb30e;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 10px;
}

li a.active,
li a:hover {
  background: #eeb30e;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #1150a7;
  float: right;
  line-height: 110px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


#progress {
  height: 2px;
  background-color: #eeb30e;
  position: fixed;
  top: 8vh;
  left: 0;
  z-index: 10;
  /* width: 30%; */
}

.botonCambioColorResponsive {
  background-color: #eeb30e;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.botonCambioIdiomaResponsive {
  background-color: #eeb30e;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}



/* Media query para pantallas más pequeñas */

/* @media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
} */



@media (max-width: 1350px) {

  #progress {
    height: 2px;
    background-color: #eeb30e;
    position: fixed;
    top: 69PX;
    left: 0;
    z-index: 10;
    /* width: 30%; */
  }

  .checkbtn {
    
      font-size: 30px;
      color: #1150a7;
      float: right;
      line-height: 110px;
      margin-top: -10px;
      margin-right: 40px;
      cursor: pointer;
      display: block;
    
  }

  nav {
    background-color: var(--colorNav);
    opacity: 1;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 3;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 600px;
    background-color: var(--bgColorPage);
    border: 1px solid;
    opacity: 1;
    top: 60px;
    right: -110%;
    text-align: center;
    transition: all .5s;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 10;

  }

  nav ul li {
    display: block;
    line-height: 30px;
    margin-right: 0;
    padding: 20px 0;


  }

  nav ul li a {
    font-size: 20px;
    color: var(--colorH1);
  }


  li:hover,
  li.active {
    color: #1150a7;


  }

  li a:hover,
  li a.active {
    background-color: none;


  }

  #check:checked~ul {
    right: 0;
  }


  .enlace {
    display: none;
  }

  .botonCambioColor {
    background-color: #eeb30e;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 30px;
  }
  
  .botonCambioidioma {
    background-color: #eeb30e;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
  } 




}




@media (max-width: 550px) {

  nav {
    background-color: var(--colorNav);
    opacity: 1;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 3;
  }

  .checkbtn {
    font-size: 30px;
    color: #1150a7;
    float: right;
    line-height: 80px;
    margin-top: 1px;
    margin-right: 20px;
    cursor: pointer;
  }

  .enlace {
    display: none;
  }

 /*  .texto {
    color: #eeb30e;
    font-size: 20px;
    ;
  } */

 

  .botonCambioColor {
    display: none;
  }
  
  .botonCambioidioma {
    display: none;
  }

  .botonCambioColorResponsive {
    background-color: #eeb30e;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin-left: 33vw;
  }
  
  .botonCambioIdiomaResponsive {
    background-color: #eeb30e;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin-left: 32vw;
    }

  #progress {
    top: 60px;
  }


}

@media (max-width: 1700px) {
  #progress {
    top: 90px;
  }
  
}

@media (max-width: 400px) {
  #progress {
    top: 60px;
  }
  
}